@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.pair{
    margin-top: 20%;
    display: flex;
    gap: 50px;
    text-align: center;
}
.pair1{
    position: absolute;
    top: 140%;
    left: 12%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    /* border: 1px solid transparent;
    height: 200px;
    width: 450px;
    background-image: url(back1.jpg); */
    /* background-size: contain;
    background-repeat:no-repeat ; */
}
.pair2{
    position: absolute;
    top: 140%;
    left: 60%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    /* background-color: rgba(0, 0, 0, 0.4); */
    
    /* border: 1px solid white;
    height: 200px;
    width: 450px;
    background-image: url(back2.jpg); */
}
.pair h1{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald';
    color: black;
    font-size: 40px;
}
.pair p{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 13px;
}
.pair a{
    margin-top: 20px;
    margin-left: 25px;
}
.now{
    margin-top: 50px;
}
.now a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}
.in h1{
    font-family: 'Oswald';
}
.in p{
    width: 50px;
    height: 5px;
    background-color: orangered;
    margin-top: 10px;
}
.vieww a{
    text-decoration: none;
    border: 3px solid white;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
}
.vieww{
    margin-top: 25px;
}
.inflex{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.log i{
    color: orangered;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}
.iconsss{
    display: flex;
}
.center p {
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.42);
    margin-left: 30px;
    margin-top: 35px;
}
/* nav{
    position:fixed;
    justify-content: space-between;
} */
 .backa{
    margin-top: 120px;
 }
 .vids{
    display: flex;
 }
 .background-clip{
    width: 650px;
    height: 300px;
    margin-top: 150px;
    border-radius: 5px;
 }
 .background-clip::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
 }
.icon span{
    background-color: orangered;
    position: absolute;
    top: 28%;
    margin-left: 12px;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
body{
    background:radial-gradient(circle at bottom,#191308, black);
    color: #fff;
    padding: 20px;
}
#header{
    top: 0px;
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
}
.navcontainer{
    padding: 10px 10%;
}
.header-text h1 span{
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
/*nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}*/
nav{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(4px);
}
.logo{
    text-decoration: none;
}
.logo img{
    width: 100px;
    position: absolute;
    top: 0px;
}
nav ul{
    border: 1px solid transparent;
    padding: 10px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: #262626;
    margin-left: 20%;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    /* text-shadow: 0 0 10px #9CA3DB, 0 0 20px #9CA3DB,  0 0 40px#9CA3DB,  0 0 80px #9CA3DB,  0 0 120px #9CA3DB; */
}
nav ul li a span{
    color: orangered;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9CA3DB;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

    animation-name:animate;
    animation-direction:alternate-reverse ;
    animation-duration:30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state:running ;
    animation-timing-function:ease-in-out ;
}
.nav ul li a:hover::after{
    width: 100%;
}
.head{
    /* background :url(new.jpg);
    border: 1px solid rgba(38, 38, 38, 0.7) ;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius:10px ;
    margin-top: 5%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    backdrop-filter: blur(4px);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
.header-text{
    font-size: 25px;
    position: absolute;
    top: 45%;
    margin-left: 8%;
    animation: fade 3s;
    display: flex;
    border: 1px solid transparent;
    padding: 30px;
    backdrop-filter: blur(6px);
}
.let{
    width: 100px;
    height: 150px;
    background-color: transparent;
    border: 5px solid white;
    border-right: none;
    border-bottom: none;
    /* border-bottom-left-radius: 20px; */
}
.let1{
    width: 100px;
    height: 150px;
    background-color: transparent;
    border: 5px solid white;
    border-left: none;
    border-top: none;
    margin-top: 150px;
    /* border-top-right-radius: 20px; */
}
.int{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}
/* .hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */
@keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
.header-text p{
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}
.header-text i{
    font-size: 50px;
    align-items: center;
}
.about-col-0{
    flex-basis: 60%;
    width: 40%;
}
.about-col-0 img{
    width: 100%;
    border-radius: 15px;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name:animate;
    animation-direction:alternate-reverse ;
    animation-duration:30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state:running ;
    animation-timing-function:ease-in-out ;
}
.adding {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #9CA3DB;
    color:#9CA3DB ;
    margin-top: 10px;
    cursor: pointer;
}
@keyframes animate{
    0%{
    image: url(bolt4.jpg);
    }
    20%{
    image: url(bolt5.jpg);
    }
    40%{
        image: url(bolt7.jpg);
    }
    60%{
        image: url(bolt8.jpg);
    }
    80%{
        image: url();
    }
}

/*.header-text{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

   animation-name:animate;
    animation-direction:alternate-reverse ;
    animation-duration:30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state:running ;
    animation-timing-function:ease-in-out ;
}*/
.header-text h1{
    color: #fff;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.about-col-1 img{
    width: 20%;
}
/*--------about us----------*/
#About{
    top: 0px;
    padding: 80px 0;
    color: #ababab;
    margin-top: 15%;
}
.bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 h2{
    font-size: 35px;
    color: white;
}
.about-col-2 h2 span{
    color: #9CA3DB;
    font-family: 'Times New Roman', Times, serif;
}
.about-col-2 p{
    text-align: center;
    font-weight: 600;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3rem;
    font-size: 15px;
}
.about-col-2 a{
    text-decoration: none;
    margin-left: 8%;
    display: block;
    margin-top: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #9CA3DB;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    background: #9CA3DB;
}
.about-col-2 p{
    text-align: center;
    font-weight: 600;
    margin-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}
.bar2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 50px;
}
.about-col-4 {
   flex-basis: 35%;
}
.about-col-3 p{
    text-align: center;
    font-weight: 600;
    margin-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.4rem;
    font-weight: 15px;
    color: white;
}

.about-col-3{
    flex-basis: 60%;
    margin-top: 50px;

}
.about-col-3 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.about-col-4 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-3 a{
    text-decoration: none;
    margin-left: 8%;
    display: block;
    margin-top: 40px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #9CA3DB;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    background: #9CA3DB;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #fff;
}
.bar2{
    margin-top: 70px;
    border-top: 1px solid #262626;
}
.bar{
    margin-top: 50px;
}

/*--------Slide--------- */
.slide{
    border: 1px solid transparent;
    width: 200px;
    height: 150px;
    background-image: url(bolt\ and\ nut.jpg);
    background-size: contain;
    perspective: 100px;
}
.slide :hover{
    transform: translateZ(20px);
}
.slide h2{
    text-align: center;
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.twoo{
    background-image: url(chipboard-screw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.onee{
    background-image: url(self-drilling.jpg);
}
.three{
    background-image: url(Black-Screw.jpeg);
}
.fourr{
    background-image: url(bolt\ and\ nut.jpg);
}
.fivee{
    background-image: url(tee\ nut.webp);
}
.sixx{
    background-image: url(rawl\ bolt.jpg);
}
.sevenn{
    background-image: url(hilti\ bolt.webp);
}
.eightt{
    background-image: url(Tapping\ screw.jpg);
}
.ninee{
    background-image: url(anchor\ nut.webp);
}
.tenn{
    background-image: url(butterfly.jpg);
}
.elenenn{
    background-image: url(washer.jpg);
}
.twelve{
    background-image: url(hard-hat.jpg);
}
.thirteen{
    background-image: url(ima/earmuff.jpg);
}
.fourteen{
    background-image: url(boots.jpg);
}
.fifteen{
    background-image: url(ima/safety\ glasses.png);
}
.sixteen{
    background-image: url(ima/respirator.jpg);
}
.seventeen{
    background-image: url(ima/vest.jpg);
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    padding: 15px;
    gap: 20px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0));
        animation: scroll 40s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}




/*--------products-----*/
.flex button{
    background-color: #9CA3DB;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    font-weight: bold;
    font-size: 15px;
}
.flex{
    display:grid;
    grid-template-columns: repeat( 3 , 22rem );
    /* grid-template-columns: 50px 1fr 70px; */
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.flex p{
    text-decoration: line-through;
    opacity: 0.3;
    color: #9CA3DB;
}
.flexa{
    display:grid;
    grid-template-columns: repeat( 3 , 22rem );
    /* grid-template-columns: 50px 1fr 70px; */
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.prod .main-product .product{
    text-align: center;
}
.prod .main-product .product:hover{
     background: #26262657;
}
.main-product .product img{
    height: 12rem;
    border-radius: 30px;
    transition: transform 0.5s;
}
.main-product .product img::after{
    width: 100%;
}
.main-product .product h3{
    color: #fff;
    padding: 1rem 0;
}
.product a{
    text-decoration: none;
 }
 .product{
    border:1px solid #262626;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    transition: background 1s;
    box-shadow: 0px 0px 10px #262626;
    padding: 20px;
 }
 .image img{
    width: 80%;
 }
 .new img{
    width: 60%;
 }
 .new1{
    text-align: center;
    margin-left: 105%;
 }
 .new1 h3{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
 }
 .product .add{
    /* margin-left: 8%;
    display: block;
    margin-top: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FCA311;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background:#FCA311; */
}
/* .add button{
    padding:10px 15px;
    border: 1px solid #9CA3DB;
    background-color: transparent;
    color: #9CA3DB;
    transition: 0.5s;
}
.add button:hover{
    background: #9CA3DB;
    color: black;
} */
.product-container h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
    text-decoration: 1px overline white;
}
.prod .main-product .product .icon a{
    display: inline-block;
    margin-bottom: 50px;
    color: #fff;
}
.prod .main-product .product .icon a:hover{
    background:#26262633;
}
.prod .main-product .product i{
    color: gold;
}
.new1 i{
    color: gold;
    margin-top: 10px;
}
.heading{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: 1px overline;
}
.heading span{
    color: peru;
    font-family: 'Times New Roman', Times, serif;
}
.contact .row{
    display: flex;
    align-items: center;
    background:var(--black) ;
    flex-wrap: wrap;
    gap:1rem;
}
.row .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #26262633;
    border: 1px solid #26262600;
}
.row form{
    flex: 1 1 40rem;
    padding: 5rem 2rem;
    text-align: center;
}
 form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
 .inputBox span{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 20px;
    color: #fff;
    text-transform: none;
    background: none ;
}
.btn{
    font-size: 1.7rem;
    background: #9CA3DB;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: black;
}

.motto {
    text-align: center;
    width: fit-content;
    margin-left: 35%;
    font-size: 40px;
    padding: 40px;
    margin-top: 30px;
}
.motto i{
    margin-top: 10px;
    font-size: 60px;
}
.motto span{
    color: #9CA3DB;
    font-family: 'Times New Roman', Times, serif;
}
.motto p{
    font-family: 'Times New Roman', Times, serif;
}
.coach img{
    width: 20%;
    opacity: 0.3;
}
.elevator img{
    width: 20%;
    margin-left: 10%;
    opacity: 0.3;
}
.one{
    display: flex;
    gap: 30px;
    margin-left: 55%;
}
.con a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.con{
    border: 2px solid white;
    width: fit-content;
    padding: 10px 15px;
    /* position: absolute;
    top: 50px;
    margin-left: 110%; */
    border-radius: 3px;
    margin-top: 20px;
}
.icon{
    color: white ;
}
.icon i{
    margin-top: 40px;
    /* position: absolute;
    top: 60px; */
}
.bar2 span{
    color:#9CA3DB;
    font-family: 'Times New Roman', Times, serif;
}
.product-container span{
    color: #9CA3DB;
    font-family: 'Times New Roman', Times, serif;
}
.flexa button{

}.flexa p{
    font-family: 'Chakra Petch';
    margin-top: 10px;
    color: #9CA3DB;
    font-size: 18px;
}

footer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-align: center;
}
footer ul li a{
    color: green;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    border: 2px solid #26262662;
    width: max-content;
    padding: 8px 8px;
    justify-content: center;
    text-align: left;
    margin-left: 150px;
    transition: background 0.5s;
}
footer ul li a:hover{
    background: #2626267e;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: green;
}
.main4{
    border: 1px solid #262626;
   height: 90vh;
    background: transparent;
}
.main9{
    display: flex;
    text-align: center;
}
.next1, .next2{
    margin-top: 10%;
}
.main9 p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.main10 p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.find i{
    color:tan;
    font-size: 30px;
    margin-left: 10px;
}
.find{
    display: flex;
    text-align: center;
    margin-left: 30%;
}
.find h1{
    text-align: center;
}
.next1{
    margin-left: 30px;
}
.next1 p{
    font-size: 16px;
}
.next2{
    position: relative;
    right: 15%;
}
.next1 span{
    color: tan;
}
.main10{
    display: flex;
    text-align: center;
    margin-left: 24%;
}
.main6{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid white;
    width: fit-content;
    padding: 30px;
    background-color: transparent;
    margin-left: 8%;
    margin-top: 50px;
    backdrop-filter: blur(4px);
}
.formm input, .formm textarea{
    width:250px;
    border: 0;
    outline:1px solid black;
    background:white;
    padding: 25px;
    height: 30px;
    /* margin: 15px 0; */
    color: black;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.formmm input, .formmm textarea{
    width:250px;
    border: 0;
    outline:1px solid black;
    background:white;
    padding: 25px;
    height: 30px;
    /* margin: 15px 0; */
    color: black;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.message input, .message textarea{
    width:510px;
    border: 0;
    outline:1px solid black;
    background:white;
    padding: 25px;
    height: 150px;
    /* margin: 15px 0; */
    color: black;
    font-size: 18px;
    border-radius: 5px;
}
.email input, .email textarea{
    margin-left: 10px;
}
.ship h1{
    font-size: 40px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.red{
    display: flex;
}
.checks{
    display: flex;
    margin-top: 5%;
}
.checks .omega{
    margin-left:20px ;
}
.checks i{
    color: white;
}
.right{
    margin-left: 60px;
    color: white;
}
.right p{
    font-size: 20px;
}
.left {
    color: white;
    margin-left: 15%;
    margin-top: 15%;
}
.left p{
    color: #9CA3DB;
}
.left h1{
    font-size: 45px;
    margin-top: 10px;
}
.head .stuff{
    display: none;
}
 footer img{
    width: 30%;
    margin-left: 34%;
    margin-bottom: 30px;
}
/* footer .footicons{
    font-size: 30px;
    justify-content: space-between;
    margin-left: 40%;
    margin-bottom: 30px;
}  */
.footicons a{
    text-decoration: none;
    font-size: 30px;  
    margin-right: 50px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.footicons a:hover{
    color: green;
    transform: translateY(-10px);
}
.logo2 img{
    width: 100px;
    margin-left: 46%;
}
/* footer a{
    color: #fff;
}
footer .policy{
    margin-left: 35%;
    justify-content: space-between;
    margin-bottom: 30px;
} */
.talk{
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    backdrop-filter: blur(4px);
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    position:fixed;
    bottom: 100px;
    margin-left: 80%;
    transition: background 0.5s;  
    text-decoration: none;
    border:1px solid #9CA3DB;
}
.input1{
    display: flex;
}
.input2{
    display: flex;
}
.info a{
    border: 1px solid transparent;
    width: fit-content;
    padding: 15px 220px;
    text-align: center;
    border-radius: 5px;
    background: black;
    margin-top: 20px;
    transition: background 0.5s;
}
form .btn2:hover{
    color: white;
    background: transparent;
    /* box-shadow: 0 0 10px red,  0 0 40px red,  0 0 80px red; */
    border: 1px solid transparent;
}
.info a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 21px;
}
.info{
    margin-top: 40px;
}
form .btn2{
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    padding: 30px;
    font-size: 16px;
    margin-top: 70px;
    cursor: pointer;
    background-color: transparent;
    transition: background 0.5s;
    letter-spacing: 3px;
    overflow: hidden;
    color: white;
    transform: 0.2s;
    bottom: 70px;
}
form .btn2 span{
    position: absolute;
    display: block;
    color: black;
}
.contact{
    border: 1px solid transparent;
    width: fit-content;
    padding:20px 30px;
    border-radius: 50px;
    background: white;
    margin-top: 10%;
    margin-left: 30px;
}
.contact a{
    text-decoration: none;
    color: red;
    font-weight: 600;
}
.next{
    border: 1px solid transparent;
    width: 400px;
    height: 450px;
    background: red;
}
.next h1{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}
.next p{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
    font-size: 17px;
}
.talk:hover{
    background: black;
}
.talk a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
footer h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
footer h1 span{
    color: peru;
    font-family: 'Times New Roman', Times, serif;
}
.first1{
    display: flex;
}
footer{
    border: 1px solid #262626;
    width: 100%;
    height: 400px;
    background-color: transparent;
    justify-content: center;
    gap: 120px;
    margin-top: 10%;
    color: #ccc;
    backdrop-filter: blur(4px);
}
.flex4 ol li {
    display: inline-block;
    color: white;
    margin: 5px 10px;
}
.flex3 h1{
    font-size: 19px;
}
.flex4 i{
    color: #ccc;
    margin-top: 2px;
    font-size: 20px;
    transition: transform 0.5s;
}
.flex4 h1{
    font-size: 19px;
}
.flex4 ol li  :hover{
    color: #9CA3DB;
    transform: translateY(-10px);
}
footer p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
footer h1{
    font-size: 30px;
}
.first1 p{
    font-size: 15px;
}
.first1 h1{
    font-size: 25px;
}
.flex1{
    margin-top: 5%;
}
.flex1 p{
    font-size: 15px;
    margin-left: 80px;
}
.flex2{
    margin-top: 10%;
}
.flex2 p{
    font-size: 15px;
}
.flex3{
    margin-top: 10%;
}
.flex4{
    margin-top: 10%;
    margin-left: 50px;
}
.flex5{
    margin-top: 10%;
    margin-left: 50px;
}
.flex5 h1{
    font-size: 19px;
}
.copyright{
    font-weight: 600;
    color: #9CA3DB;
}

.news{
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid transparent;
    background: black;
    padding: 80px;
    margin-top: 30%;
}
.read p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.read2{
    display: flex;
}
.box input, .box textarea{
    width:370px;
    border: 0;
    outline:1px solid white;
    background:black;
    padding: 25px;
    height: 35px;
    /* margin: 15px 0; */
    color: white;
    font-size: 18px;
}
.submit button{
    padding:16px ;
    margin-left: 5px;
}
/* CARD TAB */


.cardTab h1{
    color: #9CA3DB;
    padding: 20px;
    margin: 0;
}
.cardTab .listcarts .items{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.cardTab .listcarts img{
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 15px;
}
.cardTab .listcarts .items .name{
    font-weight: bold;
    font-size: 15px;
}
.cardTab .listcarts .items .quantity{
    display: flex;
    justify-content:end ;
    align-items: center;
}
.cardTab .listcarts .items .quantity button{
    width: 60px;
    height: 30px;
}
.cardTab .listcarts .items span{
    display: block;
    width: 50px;
    text-align: center;
}
.cardTab .listcarts {
    padding: 10px;
    overflow: auto; 
}
 .cardTab .listcarts::-webkit-scrollbar{
    width: 0;
} 
/* .cardTab .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.cardTab .buttons div{
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cardTab .buttons a{
    color: #fff;
}
.cardTab .buttons .checkout{
    background-color: #9CA3DB;
} */

/* PAGE CHECKOUT */
.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: #5358b3;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
}
.checkoutLayout .list img{
    height: 70px;
}
.cardTab{
    background-color: transparent;
    color: #eee;
    width: 300px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    z-index: 999;
    backdrop-filter: blur(15px);
}
.cardTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.btn3{
    display: flex;
}
.cardTab .btn3 button{
    background-color: #9CA3DB;
    border: none;
    font-family: poppins;
    font-weight: 500;
    padding:15px 20px;
    width: 100%;
}
.cardTab .btn3 button.close{
    background-color: #000;
    padding: 15px 30px;                                                              
    color: white;
    border:1px solid #9CA3DB;
}
.cardTab .listCart{
    overflow: auto;
}
.cardTab .listCart::-webkit-scrollbar{
    width: 0;
}
.cardTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cardTab{
    right: 0;
}
body.activeTabCart .container{
    transform: translateX(-250px);
}
.back img{
    width: 15%;
    position: relative;
    bottom: 100px;
    left: 180px;
    opacity: 0.2;
}
.back2 img{
    width: 10%;
    position: relative;
    top: 190px;
    left: 40px;
}
.back4 img{
    width: 15%;
    position: relative;
    bottom: 100px;
    margin-left: 390px;
    display: none;
}
.back5 img{
    width: 15%;
    position: relative;
    top: 400px;
    opacity: 0.7;
}
.back6 img{
    width: 15%;
    position: relative;
    left: 80%;
    top: 760px;
}
.product img{
    margin-top: 50px;
}
.product .icon{
    display: none;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #fff;   
}
.tab-titles p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
    justify-content: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9CA3DB;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.prod {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b5476b;
    font-size: 14px;
}
.prod{
    display:none ;
}
.prod.active-tab{
    display: block;
}


.wrapper{
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 50px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0));
}
@keyframes scrollleft {
    to{
        left: -100px;
    }
}
.item{
    color: #9CA3DB;
    /* width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 3px; */
    position: absolute;
    left: max(calc(100px * 8), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1{
    animation-delay: calc(30s / 8 * (8 - 1)* -1);
}
.item2{
    animation-delay: calc(30s / 8 *(8 - 2)* -1) ;
}
.item3{
    animation-delay: calc(30s / 8 *(8 - 3)* -1) ;
}
.item4{
    animation-delay:  calc(30s / 8 *(8 - 4)* -1);
}
.item5{
    animation-delay: calc(30s / 8 *(8 - 5)* -1) ;
}
.item6{
    animation-delay:  calc(30s / 8 *(8 - 6)* -1);
}
.item7{
    animation-delay:  calc(30s / 8 *(8 - 7)* -1);
}
.item8{
    animation-delay:  calc(30s / 8 *(8 - 8)* -1);
}
/*-------------------css for small screens-------------*/
.nav3 i{
    display: none;
}
.icon i{
    color: orangered;
    font-size: 20px;
    cursor: pointer;
}

/* ------LOGIN PAGE-------- */
.wrapping{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 750px;
    height: 450px;
    background: black;
    border: 2px solid white;
    /* box-shadow: 0 0 25px #0ef; */
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 20%;
    left: 300px;
    transition: .5s;
}
.good{
    display: none;
    transition: 1.5s;
}
.good.act{
    display: block;
    transition: 1.5s ease;
}
.wrapping.action{
    display: none;
}
.times.act .wrapping{
    display: none;
}
.times{
    position: absolute;
    top: 110px;
    right: 180px;
}
.times i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
}
.wrapping .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapping .form-box.loggin{
    left: 0;
    padding: 0 60px 0 40px;
}
.wrapping .form-box.loggin .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}
.wrapping.active .form-box.loggin .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(0);
    transition-delay:calc(.1s * var(--i)) ;
}
.wrapping .form-box.register{
    right: 0;
    padding: 0 40px 0 60px;
}

.wrapping .form-box.register .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(0);
    transition: .7s ease;
}

.wrapping.active .form-box.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay:calc(.1s * var(--i)) ;
}
.form-box h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: orangered;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font: 16px;
    color: #fff;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: orangered;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}
.input-box input:focus~i,
.input-box input:valid~i{
    color: orangered;
}
button .animation{
    width: 300px;
    height: 40px;
    background: orangered;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    color: orangered;
    font-weight: 600;
    cursor: pointer;
}
.btn{
    font-size: 19px;
    background-color: black;
    color: orangered;
}
/* .btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, orangered, #081b29, orangered);
    z-index: -1;
    transition: .5s;
} */
.btn:hover::before{
    top: 0;
}
.form-box .logreg-link{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}
.logreg-link p a{
    color: orangered;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.logreg-link p a:hover{
    text-decoration: underline;
}
.wrapping .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapping .info-text.loggin{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    /* display:none ; */
}

.wrapping .info-text.loggin .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}
.wrapping.active .info-text.loggin .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(0);
    transition-delay:calc(.1s * var(--i)) ;
}
.wrapping  .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px ;
    pointer-events: none;
}

.wrapping .info-text.register .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(0);
    transition: .7s ease;
}

.wrapping.active .info-text.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay:calc(.1s * var(--i)) ;
}
.info-text h2{
    font-size: 36px;
    color: #fff;
    line-height:1.3;
    text-transform: uppercase;
}
.info-text p{
    font-size: 16px;
    color: #fff;
}
.wrapping .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, orangered);
    border-bottom: 3px solid orangered;
    transform: rotate(10deg) skewY(40deg);
    /* transform: rotate(0) skewY(0); */
    transform-origin:bottom right;
    transition: 1.5s ease;
}

.wrapping.active .bg-animate{
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}
.wrapping .bg-animate2{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid orangered;
    transform: rotate(0) skewY(0);
    transform-origin:bottom left;
    transition:1.5s ease ;
}
.wrapping.active .bg-animate2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}
.gid{
    display: none;
}
.timess{
    position: absolute;
    top: 30px;
    left: 80%;
    font-size: 30px;
    cursor: pointer;
}
.timess i{
    position: fixed;
}
.timess.main .mainb{
    display: none;
}
.mainb{
    position: fixed;
    top:30px;
    left: 30%;
    border: 2px solid white;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 6px;
}
.mainb .btnn{
    margin-left: 30%;
    letter-spacing: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.mainb .email textarea{
    background-color: yellow;
}
.gid.main{
    display: block;
}
.add p{
    border: 1px solid #9CA3DB;
    padding: 5px;
    cursor: pointer;
}
.question{
    margin-left: 230px;
}
.add a button{
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #9CA3DB;
    color: #9CA3DB;
}

@media only screen and (max-width: 600px){
    .mainb{
        position: fixed;
        top:10px;
        left: 10%;
        border: 2px solid white;
        padding: 20px;
        backdrop-filter: blur(10px);
        border-radius: 6px;
    }
    .question{
        margin-left: 80px;
    }
    .submit .btn{
        margin-left: 2px;
    }
    .timess{
        position: absolute;
        top: 10px;
        left: 87%;
        font-size: 30px;
        cursor: pointer;
    }
    .wrapping{
        justify-content: center;
        align-items: center;
        position: relative;
        /* box-shadow: 0 0 25px #0ef; */
        z-index: 999;
        overflow: hidden;
        position: fixed;
        top: 15%;
        left: 10px;
        transition: .5s;
    }
    .wrapping .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        background: linear-gradient(45deg, #081b29, orangered);
        border-bottom: 3px solid orangered;
        transform: rotate(10deg) skewY(40deg);
        /* transform: rotate(0) skewY(0); */
        transform-origin:bottom right;
        transition: 1.5s ease;
        display: none;
    }
    .wrapping .bg-animate2{
        display: none;
    }
    .wrapping .info-text{
        display: none;
    }
    .wrapping  .info-text.register{
        left: 0;
        text-align: left;
        padding: 0 150px 60px 40px ;
        pointer-events: none;
        display: none;
    }
    .wrapping .form-box.register{
        left: 0;
        padding: 0 40px 0 60px;
    }
    nav.fa-brands{
        display: block;
        font-size: 25px;
    }
    .logo img{
        width: 20%;
    }
    .nav2 ul{
        background: #26262657;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top:50px ;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav{
        position: sticky;
        top: 0px;
    }
    nav ul{
        display: none;
    }
    .iconsss{
        margin-left: 60%;
        margin-top: 1px;
    }
    .icon i{
        font-size: 15px;
    }
    .log i{
        font-size: 15px;
    }
    .icon span{
        position: absolute;
        top: 0;
    }
    body{
        overflow-x: hidden;
    }
    .center p {
        width: 1px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.42);
        margin-left: 20px;
        margin-top: 35px;
    }
    .background-clip{
        width: 60%;
    }
    .vids{
        flex-direction: column;
        display: none;
    }
    .pair{
        display: none;
    }
    .in h1{
        font-size: 15px;
    }
    .inflex{
        margin-top: 50px;
    }
    .vieww a{
        font-size: 10px;
    }
    .vieww{
        margin-left: 40px;
        margin-top: 5px;
    }
    .backa{
        display: none;
    }
    .nee img{
        width: 100%;
    }
    .header-text{
        font-size: 25px;
        position: absolute;
        top: 25%;
        left: 0;
        animation: fade 3s;
        display: flex;
        border: 1px solid transparent;
        padding: 0px;
        backdrop-filter: blur(2px);
    }
    .header-text h1{
        font-size: 20px;
    }
    .header-text p{
        font-size: 10px;
    }
    .head{
        margin-top: 20%; 
    }
    .let{
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 5px solid white;
        border-right: none;
        border-bottom: none;
        /* border-bottom-left-radius: 20px; */
    }
    .let1{
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 5px solid white;
        border-left: none;
        border-top: none;
        margin-top: 100px;
        /* border-top-right-radius: 20px; */
    }
    .int{
        margin-top: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
    .head img{
      display: block;
      width: 100%;
    }
    .nav2{
        background: black;
        position: sticky;
        top: 0%;
        bottom:0%;
    }
    .bar2 span{
        color: #9CA3DB;
        font-family: 'Times New Roman', Times, serif;
    }
    .product-container span{
        color: #9CA3DB;
        font-family: 'Times New Roman', Times, serif;
    }
    .bar2 p{
        text-align: center;
    }
    .bar2 img{
        width:150% ;
    }
    .bar img{
        width: 120%;
    }
    .about-col-1 img{
        width: 50%;
        margin-left: 30px;
        margin-top: 10%;
    }
    .bar{
        margin-top: 10%;
    }
    .icon span{
        background-color: red;
        position: absolute;
        top: 50%;
        margin-left: 10px;
        width: 15px;
        height: 15px;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .nav2 i{
        display: block;
        font-size: 25px;
    }
    .nav2 i{
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .talk{
        font-size: 20px;
        text-decoration: none;
        background: #9CA3DB;
        width: fit-content;
        padding: 20px;
        border-radius: 50px;
        position:fixed;
        bottom: 100px;
        margin-left: 80%;
        transition: background 0.5s;  
        text-decoration: none;
    }
    .head .stuff{
        display: none;
        border: 2px solid linen;
        width: fit-content;
        padding: 10px;
        margin-top: 20px;
    }
    .head .stuff a{
        text-decoration: none;
        color: white;
        font-size: 25px;
    }
    footer ul li{
        display: inline-block;
        list-style: none;
        margin: 5px 10px;
    }
    footer ul li a{
        margin-left: 0px;
    }
    .motto{
        margin-left: 9%;
    }
    .head .stuff span{
        color: #14213D;
    }
    /* .head{
        background:#26262633 ;
        padding:40px;
        font-size: 30px;
        font-weight: 300;
        border-radius:10px ;
        margin-left: 20px;
    
    } */
    body{
        /* padding: 20px; */
    }
    .flex{
        flex-direction: column;
    }
    .bar{
        display: none;
    }
    .bar2{
        display: none;
    }
    .bar2 p{
        text-align: center;
    }
    .bar2 h2 span{
        color: #9CA3DB;
    }
    .about-col-4 img{
        width: 20%;
    }
    .back3 img{
        display: none;
    }
    .about-col-3 h2{
        font-size: 25px;
    }
    .main9{
        flex-direction: column;
    }
    .main10{
        flex-direction: column;
    }
    iframe{
        width: 260px;
        height: 260px;
        margin-top: 30px;
    }
    footer{
        border: 1px solid #262626;
        width: 100%;
        height: 700px;
        background-color: transparent;
        justify-content: center;
        gap: 120px;
        margin-top: 10%;
        color: #ccc;
        backdrop-filter: blur(4px);
    }
    .formm input, .formm textarea{
        width:200px;
        border: 0;
        outline:1px solid black;
        background:white;
        padding: 20px;
        height: 0px;
        color: black;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .formmm input, .formmm textarea{
        width:200px;
        border: 0;
        outline:1px solid black;
        background:white;
        padding: 20px;
        height: 0px;
        color: black;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .input1{
        flex-direction: column;
    }
    .input2{
        flex-direction: column;
    }
    .email{
        margin-right: 5px;
    }
    .message input, .message textarea{
        width:210px;
        border: 0;
        outline:1px solid black;
        background:white;
        padding: 25px;
        height: 150px;
        /* margin: 15px 0; */
        color: black;
        font-size: 18px;
        border-radius: 5px;
    }
    .email input, .email textarea{
        margin-left: 20px;
    }
    .email{
        margin-left: 0px;
    }
    .main6{
        /* display: flex; */
        justify-content: center;
        gap: 20px;
        border: 1px solid white;
        width: fit-content;
        padding: 30px;
        background-color: transparent;
        margin-left: 2%;
        margin-top: 50px;
        backdrop-filter: blur(20px);
    }
    form .btn2{
        position: relative;
        border: 1px solid transparent;
        padding: 30px;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        transition: background 0.5s;
        overflow: hidden;
        color: white;
        transform: 0.2s;
    }
    form .btn2 span{
        position: absolute;
        display: block;
        color: red;
    }
    .email input, .email textarea{
        margin-left: 20px;
    }
    .first1{
        flex-direction: column;
    }
    .talk{
        font-size: 20px;
        text-decoration: none;
        background: transparent;
        backdrop-filter: blur(5px);
        width: fit-content;
        padding: 20px;
        border-radius: 5%;
        position:fixed;
        bottom: 100px;
        margin-left: 40%;
        transition: background 0.5s;  
        text-decoration: none;
        /* box-shadow: 0 0 10px #14213D, 0 0 20px #14213D,  0 0 40px #14213D,  0 0 80px #14213D,  0 0 120px #14213D; */

    }
    .main4{
        margin-top: 0px;
    }
    .main4 h1{
        font-size: 40px;
    }
    .talk span{
        
    }
    .back4 img{
        display: none;
    }
    .tab-titles{
        justify-content: center;
        margin-left: 60px;
    }
    .tab-titles p{
        font-size: 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .product img{
        width: 30%;
        margin-top: 50px;
    }
    .product .icon{
        display: none;
    }
    .product{
        border:1px solid #262626;
        width: 300px;
        height: 450px;
        border-radius: 5px;
        transition: background 1s;
        box-shadow: 0px 0px 10px #262626;
        margin-top: 30px;
     }
     .news{
        flex-direction: column;
     }
     .flexa{
        display: block;
     }
     .flex{
        display: block;
     }
     .box input, .box textarea{
        width:170px;
        border: 0;
        outline:1px solid white;
        background:black;
        padding: 25px;
        height: 35px;
        /* margin: 15px 0; */
        color: white;
        font-size: 12px;
    }
    .submit button{
        cursor: pointer;
    }
    .about-col-4 img{
        display: none;
    }
    .main-product img{
        width: 80%;
    }
    .new1{
        margin-left: 0;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
    
/*.product-container i{
    font-size: 30px;
    color: green;
}
.product-container .main-product{
    display: grid;
    
}
.main-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}
.main-product img{
    flex-basis: 60%;
}
.self-drilling img{
   width: 300px;
   border-radius: 30px;
}
.chipboard-screw img{
    width: 150px;
    border-radius: 30px;
 }
 .Black-Screw img{
    width: 200px;
    border-radius: 30px;
   
 }
 .bolt img{
    width: 300px;
    border-radius: 30px;
 }
 .tee img{
    width: 200px;
    border-radius: 30px;
 }*/

/*.self-drilling h3{
    text-align: center;
    margin-top: 20px;
}
.self-drilling{
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius:30px ;
    height: 50%;
    border:1px solid #2626267a;
}
.chipboard-screw h3{
    text-align: center;
    margin-top: 20px;
}*/

/*.chipboard-screw{
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius:30px ;
    height: 80%;
    border:1px solid #2626267a;
}*/
/*.Black-Screw h3{
    text-align: center;
    margin-top: 20px;
}
.Black-Screw{
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius:30px ;
    margin-right: 50px;
    border:1px solid #2626267a;
}*/
/*.bolt h3{
    text-align: center;
    margin-top: 20px;
}
.bolt{
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius:30px ;
    height: 50%;
    margin-top: 30px;
    border:1px solid #2626267a;
}*/
/*.tee h3{
    text-align: center;
    margin-top: 20px;
}
.tee{
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius:30px ;
    margin-right: 50px;
    height: 50%;
    margin-top: 30px;
    margin-left: 7%;
    border:1px solid #2626267a;
}

/*.about-col-0{
    margin: 0;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    
    -webkit-text-fill-color:transparent;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}
